*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgb(226, 222, 216);
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  
}

.title-container {
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.contenedor-contador {
  font-family: 'VT323', monospace;
  min-width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}